<div class="container-fluid text-center">
    <p class="summary col-md-8 mx-auto mt-5 font-weight-bold">
        El territorio costero que comparten México, Guatemala y Belice es una de las regiones más porosas y desconocidas
        de la frontera sur de América. A través de tres reportajes: en Xcalak, un remoto poblado mexicano que vive de la
        cocaína que expulsa el mar; en Blue Creek, el poderoso motor económico de los menonitas; y en Puerto Barrios, el
        oscuro puerto de Guatemala en el Atlántico, este especial describe la enigmática realidad que se levanta a pocos
        pasos de los centros turísticos más importantes del mundo
    </p>

    <div class="social-media my-3">
        <button mat-icon-button>
            <mat-icon>facebook</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>email</mat-icon>
        </button>
    </div>

    <div class="authors">
        <div class="row">
            <div class="col-sm-4">
                <p>JACOBO GARCÍA</p>
            </div>
            <div class="col-sm-4">
                <p>TERESA DE MIGUEL (VÍDEO)</p>
            </div>
            <div class="col-sm-4">
                <p>FRED RAMOS (FOTOS)</p>
            </div>
        </div>
    </div>

    <div class="mx-auto mt-5">
        <div class="audio-author col-md-8 mx-auto my-3">
            <h6>ESCUCHE ÍNTEGRO EL REPORTAJE 'EL CARIBE TURBIO' EN VOZ DE SU AUTOR</h6>
        </div>
        <app-audio-player
            audioSrc="https://vdmedia.elpais.com/elpaistopaudio/multimedia/20196/20/20190620105250650_1561020870_audio_128.mp3"
        ></app-audio-player>
    </div>
</div>
