.home-wrapper {
    background-image: url('https://ep01.epimg.net/especiales/2019/frontera-sur/img/capitulo2.jpg');
}

.accent-title span {
    white-space: nowrap;
}
.accent-title strong {
    font-size: 1em;
}