<section class="episode-wrapper">
    <div class="bg-mask"></div>

    <div class="episode-body">
        <header>
            <app-logo></app-logo>
        </header>
        <div class="episode-content-wrapper">
            <h2 class="episode-header"><strong>CAP&Iacute;TULO 1.</strong></h2>
            <h3 class="accent-title">«El arte debe cuestionar al poder»</h3>
            <div class="diagonal-line"></div>
            <button role="button" class="btn-episode" routerLink="/episode1">VER CAP&Iacute;TULO</button>
        </div>
    </div>
</section>
