<div class="parallax">
    <div class="parallax-inner">
        <img src="https://elpais.com/estaticos/2019/04/frontera-sur/img/entrevista.jpg" alt="" />
        <div class="content col-md-8 mx-auto">
            <h1>Interview</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, minima!</p>
            <p>Harum corporis impedit quidem error repellendus. Quisquam sed maiores voluptatem.</p>
            <p>Delectus tenetur itaque, eius aut quidem doloribus vero libero voluptatum.</p>
            <p>Quia, reiciendis sint maiores fugit voluptates magnam nihil illum quod?</p>
            <p>Iure reprehenderit amet at voluptatum autem soluta delectus a. At.</p>
            <p>Molestias cum, aspernatur aut laboriosam culpa eligendi quos expedita dicta.</p>
            <p>Eaque repellat est ut! Reiciendis laboriosam ipsa modi cupiditate sed.</p>
            <p>Accusantium accusamus ipsam laborum quidem natus voluptatum nisi optio quaerat.</p>
            <p>Maiores nam dolores deleniti velit? Nemo provident quidem quo earum.</p>
            <p>Iste maiores, possimus consectetur explicabo sapiente itaque nam deleniti reprehenderit.</p>
            <p>Veniam aliquam excepturi aliquid possimus nostrum praesentium atque ratione! Fugiat.</p>
            <p>Odio dignissimos aut vel nesciunt quas, deserunt voluptates reiciendis quia!</p>
            <p>Aspernatur nihil expedita fugiat sequi quos illo voluptates cumque aperiam.</p>
            <p>Corporis nobis porro impedit facere cupiditate voluptatem nulla error dolor.</p>
            <p>Rerum temporibus itaque quaerat laudantium vero nisi architecto explicabo pariatur.</p>
        </div>
    </div>
</div>
