<section class="home-container">
    <div class="bg-image"></div>
    <div class="bg-mask" id="bg-mask"></div>
    <div class="home-content">
        <app-episode-nav class="nav" (scrollToAbout)="scrollTo(about)"></app-episode-nav>

        <div class="episode-content-wrapper text-center">
            <h3 class="accent-title">La Revolución de los aplausos</h3>
            <div class="logo">
                <app-logo></app-logo>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="col-md-8 text-justify my-5 mx-auto">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quaerat earum nihil! Pariatur expedita
                provident aperiam, dolores ipsum sit iure quibusdam? Rem deserunt ipsa possimus laudantium, eveniet
                commodi iure vel dicta dolor nostrum ex delectus fugiat soluta nulla atque corporis minima a dolorem
                reiciendis voluptatibus labore. Rerum eum molestias magni?
            </p>
            <p>
                Nisi modi beatae est error ratione, facilis maiores hic similique vero eum dolorem quis dolores atque,
                possimus numquam magnam autem odit ipsum. Aspernatur fuga, deserunt, eos, pariatur qui saepe cum enim
                soluta fugiat facere ratione nemo laudantium aut doloribus eum! Pariatur corporis minus quaerat facere
                beatae officiis quas tenetur quod?
            </p>
            <p>
                Molestias unde sequi, tempora, sit sed in ea odit labore eos laboriosam minus nisi corrupti porro error
                a nulla nam! In libero aut architecto delectus error eos numquam, eligendi dicta officiis. Rem molestias
                voluptatibus eveniet, architecto iure saepe autem? Commodi unde eum labore dicta earum eius officiis
                dolores cupiditate consectetur!
            </p>
            <p>
                Vitae temporibus saepe ipsum. Animi odio modi ut quas cumque quia sed quae fugiat possimus eos autem
                pariatur blanditiis tenetur officiis aliquid nam natus deserunt, rerum neque a ex quos dolorem
                necessitatibus. Debitis quae, odio incidunt eos ea voluptatum animi non esse at corrupti blanditiis
                adipisci voluptas beatae? Hic, quas!
            </p>
        </div>
    </div>
</section>

<section #about>
    <app-chapter1></app-chapter1>
</section>
